#title span
{
    cursor: pointer;
    font-size: 20px;
}
#title span:hover
{
    color: #1890ff ;
}
#content button
{
    cursor: pointer;
    width: 180px;
    height: 50px;
    border: solid 1px;
}
#title
{
    border-bottom: solid 2px gray;
}
#block
{
    border: solid 2px;
}
#money
{
    font-size: large;
}
#chongzhi
{
    background-color: #0969da;
    color: white;
}